/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+DE+SAS:wght@100..400&family=Playwrite+GB+J+Guides:ital@0;1&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6; /* espaçamento entre linhas */
}

body {
    background-color: #eee;
    color: #222;
    margin: 0 auto;
    width: 768px;
}

a {
    color: #222;
    text-decoration: none;
}